<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @ingredient.quantity %>
</p>

<p>
  <strong>Last delivered:</strong>
  <%= @ingredient.last_delivered %>
</p>

<p>
  <strong>Last delivered quantity:</strong>
  <%= @ingredient.last_delivered_quantity %>
</p>

<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
