<h1>Order</h1>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Delivered by:</strong>
  <%= @order.delivered_at %>
</p>

<p>
  <strong>Products:</strong>
  <ul>
    <% @order.order_products.each do |op| %>
      <li>
        <b><%= op.name %></b>: <%= op.quantity %> pallets
      </li>
    <% end %>
  </ul>
</p>


<%= link_to edit_order_path(@order), class: "btn btn-default" do %>
  <%= i(:pencil) %>
<% end %>
<%= link_to 'Back', orders_path, class: "btn btn-default"  %>
