<div class="row">
  <div class="col-md-4">
    <%= bootstrap_form_for(@pallet) do |f| %>
      <%= f.errors_on :product, hide_attribute_name: true %>

      <%= f.collection_select :product_id, Product.all, :id, :name, {}, {class: 'select2'} %>

      <%= f.form_group do %>
        <%= f.submit %>
      <% end %>
    <% end %>
  </div>
</div>
