<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @pallet.status %>
</p>

<p>
  <strong>Product:</strong>
  <%= @pallet.product %>
</p>

<p>
  <strong>Order:</strong>
  <%= @pallet.order %>
</p>

<%= link_to 'Edit', edit_pallet_path(@pallet) %> |
<%= link_to 'Back', pallets_path %>
