<%= javascript_include_tag "nested_form" %>

<%= bootstrap_nested_form_for @product do |f| %>
  <%= f.form_group do %>
    <%= f.text_field :name, inline: false %>

    <%= f.label :ingredients %> <br/>
    <%= f.fields_for :product_ingredients do |pf| %>
      <div class="form-group form-inline">
        <%= pf.collection_select :ingredient_id, Ingredient.all.order(:name), :id, :name, {hide_label: true}, {class: 'select2'} %>
        <%= pf.text_field :quantity, hide_label: true, placeholder: "Quantity" %>
        <%= pf.hidden_field :id %>
        <%= pf.link_to_remove "X", class: "btn btn-danger" %>
      </div>
    <% end %>
    <%= f.link_to_add "Add ingredient", :product_ingredients, class: "btn btn-success" %>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit %>
  <% end %>
<% end %>
