<%= bootstrap_form_for(@production_block) do |f| %>
  <% if @production_block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_block.errors.count, "error") %> prohibited this production_block from being saved:</h2>

      <ul>
      <% @production_block.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-5">
      <div class="field">
        <%= f.collection_select :product_id, Product.all, :id, :name %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <%= f.datetime_select :start_at %>
      </div>
      <div class="field">
        <%= f.datetime_select :end_at %>
      </div>
      <div class="actions">
        <%= f.primary %>
      </div>
    </div>
  </div>
<% end %>
