<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @production_block.product %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @production_block.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @production_block.end_at %>
</p>

<table class="table">
  <thead>
    <tr>
      <th>Blocked Pallets</th>
      <th>Created At</th>
    </tr>
  </thead>

  <tbody>
    <% @production_block.blocked_pallets.each do |pallet| %>
      <tr>
        <td><%= pallet %></td>
        <td><%= pallet.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to edit_production_block_path(@production_block), class: "btn btn-default" do %>
  <%= i(:pencil)%>
<% end %>
<%= link_to 'Back', production_blocks_path, class: "btn btn-default" %>
